---
---

<div class="stack-card">
  <h3 class="card-title">My Stack</h3>

  <div class="stack-section">
    <span class="section-label">Languages</span>
    <div class="icon-row">
      <span class="tech-icon" title="Python">
        <svg viewBox="0 0 24 24" fill="#3776AB"><path d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09z"/><path d="M21.1 6.11l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.02-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.04-.84.01-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.1.3-.06.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01.21.03zm-6.47 14.25l-.23.33-.08.41.08.41.23.33.33.23.41.08.41-.08.33-.23.23-.33.08-.41-.08-.41-.23-.33-.33-.23-.41-.08-.41.08z"/></svg>
      </span>
      <span class="tech-icon" title="TypeScript">
        <svg viewBox="0 0 24 24" fill="#3178C6"><path d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"/></svg>
      </span>
      <span class="tech-icon" title="JavaScript">
        <svg viewBox="0 0 24 24" fill="#F7DF1E"><path d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z"/></svg>
      </span>
      <span class="tech-icon" title="SQL">
        <svg viewBox="0 0 24 24" fill="#4479A1"><path d="M12 3c-4.97 0-9 1.343-9 3v12c0 1.657 4.03 3 9 3s9-1.343 9-3V6c0-1.657-4.03-3-9-3zm0 2c4.418 0 8 1.119 8 2.5S16.418 10 12 10 4 8.881 4 7.5 7.582 5 12 5zm8 13.5c0 1.381-3.582 2.5-8 2.5s-8-1.119-8-2.5v-2.764c1.825 1.023 4.757 1.764 8 1.764s6.175-.741 8-1.764zm0-5c0 1.381-3.582 2.5-8 2.5s-8-1.119-8-2.5v-2.764c1.825 1.023 4.757 1.764 8 1.764s6.175-.741 8-1.764z"/></svg>
      </span>
    </div>
  </div>

  <div class="stack-section">
    <span class="section-label">Platforms</span>
    <div class="icon-row">
      <span class="tech-icon" title="AWS">
        <svg viewBox="0 0 24 24" fill="#FF9900"><path d="M6.763 10.036c0 .296.032.535.088.71.064.176.144.368.256.576.04.063.056.127.056.183 0 .08-.048.16-.152.24l-.503.335a.383.383 0 0 1-.208.072c-.08 0-.16-.04-.239-.112a2.47 2.47 0 0 1-.287-.375 6.18 6.18 0 0 1-.248-.471c-.622.734-1.405 1.101-2.347 1.101-.67 0-1.205-.191-1.596-.574-.391-.384-.59-.894-.59-1.533 0-.678.239-1.23.726-1.644.487-.415 1.133-.623 1.955-.623.272 0 .551.024.846.064.296.04.6.104.918.176v-.583c0-.607-.127-1.03-.375-1.277-.255-.248-.686-.367-1.3-.367-.28 0-.568.031-.863.103-.295.072-.583.16-.862.272a2.287 2.287 0 0 1-.28.104.488.488 0 0 1-.127.023c-.112 0-.168-.08-.168-.247v-.391c0-.128.016-.224.056-.28a.597.597 0 0 1 .224-.167c.279-.144.614-.264 1.005-.36a4.84 4.84 0 0 1 1.246-.151c.95 0 1.644.216 2.091.647.439.43.662 1.085.662 1.963v2.586zm-3.24 1.214c.263 0 .534-.048.822-.144.287-.096.543-.271.758-.51.128-.152.224-.32.272-.512.047-.191.08-.423.08-.694v-.335a6.66 6.66 0 0 0-.735-.136 6.02 6.02 0 0 0-.75-.048c-.535 0-.926.104-1.19.32-.263.215-.39.518-.39.917 0 .375.095.655.295.846.191.2.47.296.838.296zm6.41.862c-.144 0-.24-.024-.304-.08-.064-.048-.12-.16-.168-.311L7.586 5.55a1.398 1.398 0 0 1-.072-.32c0-.128.064-.2.191-.2h.783c.151 0 .255.025.31.08.065.048.113.16.16.312l1.342 5.284 1.245-5.284c.04-.16.088-.264.151-.312a.549.549 0 0 1 .32-.08h.638c.152 0 .256.025.32.08.063.048.12.16.151.312l1.261 5.348 1.381-5.348c.048-.16.104-.264.16-.312a.52.52 0 0 1 .311-.08h.743c.127 0 .2.065.2.2 0 .04-.009.08-.017.128a1.137 1.137 0 0 1-.056.2l-1.923 6.17c-.048.16-.104.263-.168.311a.51.51 0 0 1-.303.08h-.687c-.151 0-.255-.024-.32-.08-.063-.056-.119-.16-.15-.32l-1.238-5.148-1.23 5.14c-.04.16-.087.264-.15.32-.065.056-.177.08-.32.08zm10.256.215c-.415 0-.83-.048-1.229-.143-.399-.096-.71-.2-.918-.32-.128-.071-.215-.151-.247-.223a.563.563 0 0 1-.048-.224v-.407c0-.167.064-.247.183-.247.048 0 .096.008.144.024.048.016.12.048.2.08.271.12.566.215.878.279.319.064.63.096.95.096.502 0 .894-.088 1.165-.264a.86.86 0 0 0 .415-.758.777.777 0 0 0-.215-.559c-.144-.151-.416-.287-.807-.415l-1.157-.36c-.583-.183-1.014-.454-1.277-.813a1.902 1.902 0 0 1-.4-1.158c0-.335.073-.63.216-.886.144-.255.335-.479.575-.654.24-.184.51-.32.83-.415.32-.096.655-.136 1.006-.136.175 0 .359.008.535.032.183.024.35.056.518.088.16.04.312.08.455.127.144.048.256.096.336.144a.69.69 0 0 1 .24.2.43.43 0 0 1 .071.263v.375c0 .168-.064.256-.184.256a.83.83 0 0 1-.303-.096 3.652 3.652 0 0 0-1.532-.311c-.455 0-.815.071-1.062.223-.248.152-.375.383-.375.71 0 .224.08.416.24.567.159.152.454.304.877.44l1.134.358c.574.184.99.44 1.237.767.247.327.367.702.367 1.117 0 .343-.072.655-.207.926-.144.272-.336.511-.583.703-.248.2-.543.343-.886.447-.36.111-.734.167-1.142.167zM21.698 16.207c-2.626 1.94-6.442 2.969-9.722 2.969-4.598 0-8.74-1.7-11.87-4.526-.247-.223-.024-.527.27-.351 3.384 1.963 7.559 3.153 11.877 3.153 2.914 0 6.114-.607 9.06-1.852.439-.2.814.287.385.607zM22.792 14.961c-.336-.43-2.22-.207-3.074-.103-.255.032-.295-.192-.063-.36 1.5-1.053 3.967-.75 4.254-.399.287.36-.08 2.826-1.485 4.007-.215.184-.423.088-.327-.151.32-.79 1.03-2.57.695-2.994z"/></svg>
      </span>
      <span class="tech-icon" title="Cloudflare">
        <svg viewBox="0 0 24 24" fill="#F38020"><path d="M16.5088 16.8447c.1475-.5068.0908-.9707-.1553-1.3154-.2246-.3164-.5765-.502-.9863-.5205l-8.4575-.1123a.1228.1228 0 0 1-.089-.0434.1152.1152 0 0 1-.0191-.1025c.0185-.0596.0694-.0995.1315-.1025l8.5165-.1123c.9453-.0434 1.9697-.8252 2.3191-1.7704l.4469-1.2109c.0311-.0713.0409-.1524.0311-.2326-.3448-1.7324-1.8977-3.0284-3.7543-3.0284-2.0376 0-3.7573 1.4871-4.0612 3.4333-.3417-.2607-.7681-.4128-1.2326-.4128-1.0136 0-1.8545.7619-1.9637 1.7437-.0031.0275-.0062.0557-.0093.0838-.0031.0282-.0031.0844-.0031.0844-.0031.0562-.0031.1118 0 .1679 0 .0186-.0031.0372-.0031.0557 0 .0124 0 .0249.0031.0372h-.1956c-1.3786 0-2.5077 1.0909-2.5077 2.4683 0 .0589.0031.1178.0093.1768l.0031.0186c.0062.0465.0186.0898.0311.1332.0031.0124.0062.0217.0093.0341h14.5765c.0969-.0031.1876-.0403.2566-.1085a.3547.3547 0 0 0 .0969-.2695l-.0031-.0527zm3.3454-3.0254c-.0031-.0062-.0031-.0093-.0062-.0155a5.8629 5.8629 0 0 0-4.6076-2.2272c-.9514 0-1.8607.2326-2.6621.6484-.1414.0713-.1475.1774-.0186.2326.2472.1025.4851.2206.7043.3448.1599.0898.1691.2109.0217.3257-.9576.7557-1.562 1.9077-1.562 3.1842 0 .2264.0186.4467.0557.661.0155.0652.0713.118.1414.1179h9.1802c.0969 0 .1907-.0372.2566-.1054a.3576.3576 0 0 0 .0969-.2668.3519.3519 0 0 0-.0031-.0559c-.0186-.2047-.0589-.4033-.118-.5925a4.6282 4.6282 0 0 0-1.4687-2.2708z"/></svg>
      </span>
      <span class="tech-icon" title="Docker">
        <svg viewBox="0 0 24 24" fill="#2496ED"><path d="M13.983 11.078h2.119a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.119a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 00.186-.186V3.574a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.186m0 2.716h2.118a.187.187 0 00.186-.186V6.29a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.887c0 .102.082.185.185.186m-2.93 0h2.12a.186.186 0 00.184-.186V6.29a.185.185 0 00-.185-.185H8.1a.185.185 0 00-.185.185v1.887c0 .102.083.185.185.186m-2.964 0h2.119a.186.186 0 00.185-.186V6.29a.185.185 0 00-.185-.185H5.136a.186.186 0 00-.186.185v1.887c0 .102.084.185.186.186m5.893 2.715h2.118a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 00.185-.185V9.006a.185.185 0 00-.184-.186h-2.12a.186.186 0 00-.186.186v1.887c0 .102.084.185.186.185m-2.92 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.082.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 00-.75.748 11.376 11.376 0 00.692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 003.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288z"/></svg>
      </span>
      <span class="tech-icon" title="Linux">
        <svg viewBox="0 0 24 24" fill="#FCC624"><path d="M12.504 0c-.155 0-.311.001-.465.003-.653.014-1.296.106-1.914.278-.649.181-1.254.48-1.798.866-.594.42-1.102.943-1.508 1.542-.405.6-.72 1.267-.927 1.974a7.525 7.525 0 00-.256 1.807c-.02.48.006.96.08 1.429a8.267 8.267 0 00.362 1.381c.136.403.305.793.505 1.164.193.358.419.7.676 1.017.167.206.35.395.549.567.28.241.59.444.927.601.269.124.557.21.854.256.281.044.57.053.856.029a3.47 3.47 0 001.47-.487 4.65 4.65 0 00.848-.58c.143-.112.28-.234.412-.361.106-.104.206-.214.299-.328.1-.12.192-.245.277-.376a4.03 4.03 0 00.297-.507c.075-.145.142-.296.2-.45a5.02 5.02 0 00.215-.808 7.11 7.11 0 00.098-.799c.014-.279.01-.557-.013-.835a5.75 5.75 0 00-.153-.866 6.085 6.085 0 00-.259-.78c-.14-.352-.32-.684-.536-.99a5.01 5.01 0 00-.677-.78 4.85 4.85 0 00-.915-.666c-.362-.199-.754-.353-1.164-.454a5.67 5.67 0 00-1.252-.17zm.015 2.143c.2 0 .393.023.58.066.212.047.414.12.601.218.216.11.412.249.582.411.182.172.338.369.465.586.134.229.24.477.312.737.077.272.12.555.129.841a4.06 4.06 0 01-.072.827 3.89 3.89 0 01-.234.733 3.6 3.6 0 01-.384.645 3.56 3.56 0 01-.512.537 3.48 3.48 0 01-.609.39c-.215.118-.447.206-.689.26a2.82 2.82 0 01-.732.067 2.75 2.75 0 01-.711-.094 2.73 2.73 0 01-.645-.271 2.93 2.93 0 01-.549-.419 3.13 3.13 0 01-.432-.546 3.34 3.34 0 01-.306-.653 3.7 3.7 0 01-.179-.742 3.98 3.98 0 01-.034-.787c.021-.267.073-.53.157-.782.088-.262.21-.51.366-.737.163-.237.362-.448.59-.626.241-.188.514-.337.808-.439.31-.107.637-.163.97-.163zm-.014 2.286c-.192 0-.38.04-.551.118a1.38 1.38 0 00-.448.337c-.123.147-.22.318-.285.504a1.69 1.69 0 00-.097.59c.005.201.046.399.122.583.074.179.183.343.32.48.138.137.303.245.487.319a1.56 1.56 0 001.135 0c.184-.074.349-.182.487-.319a1.48 1.48 0 00.32-.48c.076-.184.117-.382.122-.583a1.69 1.69 0 00-.097-.59 1.34 1.34 0 00-.285-.504 1.38 1.38 0 00-.448-.337 1.34 1.34 0 00-.551-.118zm-5.696 3.95c-.1 0-.197.013-.289.037a1.43 1.43 0 00-.268.109c-.082.048-.159.107-.228.175a1.12 1.12 0 00-.176.23.947.947 0 00-.107.273 1.02 1.02 0 00-.03.291c.003.099.019.197.047.291.029.094.07.184.122.267.053.085.118.162.193.229.077.07.164.127.259.171.097.046.2.08.306.1.107.021.218.029.328.022a1.28 1.28 0 00.313-.06c.1-.033.194-.08.28-.14.087-.061.165-.134.231-.218a.96.96 0 00.161-.289c.038-.11.06-.226.064-.344a1.05 1.05 0 00-.039-.314.94.94 0 00-.12-.276.96.96 0 00-.193-.226 1.14 1.14 0 00-.259-.171 1.22 1.22 0 00-.306-.1 1.4 1.4 0 00-.33-.025zm11.392 0c-.1 0-.197.013-.289.037a1.43 1.43 0 00-.268.109c-.082.048-.159.107-.228.175a1.12 1.12 0 00-.176.23.947.947 0 00-.107.273 1.02 1.02 0 00-.03.291c.003.099.019.197.047.291.029.094.07.184.122.267.053.085.118.162.193.229.077.07.164.127.259.171.097.046.2.08.306.1.107.021.218.029.328.022a1.28 1.28 0 00.313-.06c.1-.033.194-.08.28-.14.087-.061.165-.134.231-.218a.96.96 0 00.161-.289c.038-.11.06-.226.064-.344a1.05 1.05 0 00-.039-.314.94.94 0 00-.12-.276.96.96 0 00-.193-.226 1.14 1.14 0 00-.259-.171 1.22 1.22 0 00-.306-.1 1.4 1.4 0 00-.33-.025zM7.84 16.571H5.693v3.357h5.786V18h-3.64zm10.466 0h-3.786v1.929h3.929v1.428H9.907v-1.071H6.121v1.428H4.55v-4.5h-.857v5.786h17.143v-5.786h-.857v1.929h-1.5v-1.286z"/></svg>
      </span>
    </div>
  </div>

  <div class="stack-section">
    <span class="section-label">Tools</span>
    <div class="icon-row">
      <span class="tech-icon" title="Claude">
        <svg viewBox="0 0 24 24" fill="#D97706"><path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"/></svg>
      </span>
      <span class="tech-icon" title="Git">
        <svg viewBox="0 0 24 24" fill="#F05032"><path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.658 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l10.43-10.43c.605-.603.605-1.582 0-2.187"/></svg>
      </span>
      <span class="tech-icon" title="VS Code">
        <svg viewBox="0 0 24 24" fill="#007ACC"><path d="M23.15 2.587L18.21.21a1.494 1.494 0 00-1.705.29l-9.46 8.63-4.12-3.128a.999.999 0 00-1.276.057L.327 7.261A1 1 0 00.326 8.74L3.899 12 .326 15.26a1 1 0 00.001 1.479L1.65 17.94a.999.999 0 001.276.057l4.12-3.128 9.46 8.63a1.492 1.492 0 001.704.29l4.942-2.377A1.5 1.5 0 0024 20.06V3.939a1.5 1.5 0 00-.85-1.352zm-5.146 14.861L10.826 12l7.178-5.448v10.896z"/></svg>
      </span>
      <span class="tech-icon" title="Notion">
        <svg viewBox="0 0 24 24" fill="#ffffff"><path d="M4.459 4.208c.746.606 1.026.56 2.428.466l13.215-.793c.28 0 .047-.28-.046-.326L17.86 2.02c-.373-.28-.746-.56-1.773-.513l-12.702.933c-.466.046-.559.28-.373.466l1.447 1.302zm.793 3.08v13.904c0 .747.373 1.027 1.214.98l14.523-.84c.841-.046.935-.56.935-1.166V6.354c0-.606-.233-.933-.748-.887l-15.177.887c-.56.047-.747.327-.747.933zm14.337.745c.093.42 0 .84-.42.888l-.7.14v10.264c-.608.327-1.168.514-1.635.514-.748 0-.935-.234-1.495-.933l-4.577-7.186v6.952L12.21 19s0 .84-1.168.84l-3.222.186c-.093-.186 0-.653.327-.746l.84-.233V9.854L7.822 9.76c-.094-.42.139-1.026.793-1.073l3.456-.233 4.764 7.279v-6.44l-1.215-.139c-.093-.514.28-.887.747-.933l3.222-.187zM1.936 1.035l13.31-.98c1.634-.14 2.054-.047 3.082.7l4.249 2.986c.7.513.934.653.934 1.213v16.378c0 1.026-.373 1.634-1.68 1.726l-15.458.933c-.98.047-1.448-.093-1.962-.747l-3.129-4.06c-.56-.747-.793-1.306-.793-1.96V2.667c0-.839.374-1.54 1.447-1.632z"/></svg>
      </span>
    </div>
  </div>
</div>

<style>
  .stack-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-primary);
    margin: 0;
  }

  .stack-section {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }

  .section-label {
    font-size: 0.6875rem;
    color: var(--text-muted);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .icon-row {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .tech-icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    transition: transform 0.2s ease;
  }

  .tech-icon svg {
    width: 24px;
    height: 24px;
  }

  .tech-icon:hover {
    transform: scale(1.15);
  }
</style>
